{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>A BOUT</h1>
  <p>
    --------------------
    </p>
  <p> In here, you can make your own photo collection
      </p>
  <p> Editing Photos through varies ways
      </p>
  <P> Share your faviorate artists and their art
      </p>
  <p> Share your thoughts or read others posts on inspiration
      </p>


  <body>
    <img src= https://www.meisterdrucke.uk/kunstwerke/500px/Wassily_Kandinsky_-_Jaune_Rouge_Bleu_-_(MeisterDrucke-30032).jpg alt="Uh Oh! No image">
    <img src= https://i.pinimg.com/originals/2a/89/d1/2a89d1b9f8baaa78d0f7cbf09e057f92.png alt="Uh Oh! No image">

  </body>


</div>
{% endblock %}
